@model MonamourWeb.Models.PetTag
@{
    ViewData["Title"] = "Редактировать тег питомца";
}

<form method="post" asp-controller="PetTags" asp-action="Update">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h4 class="text-black-50 pl-3">Редактировать тег питомца</h4>
        </div>

        <br />

        <table class="table mx-auto table-borderless text-md-center" style="width: 80%">
            <tr>
                <td class="w-25">
                    <label asp-for="Title" class="font-weight-bold"></label>
                </td>
                <td>
                    <input asp-for="Title" value="@Model.Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="w-25">
                    <label asp-for="ShortTitle" class="font-weight-bold"></label>
                </td>
                <td>
                    <input asp-for="ShortTitle" value="@Model.ShortTitle" class="form-control" />
                    <span asp-validation-for="ShortTitle" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="w-25">
                    <label asp-for="Color" class="font-weight-bold"></label>
                </td>
                <td>
                    <select asp-for="Color" class="form-control">
                        <option value="@Model.Color" selected>@Model.Color</option>
                        @foreach (var item in ViewBag.Colors)
                        {
                            if (item == Model.Color) continue;
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

        <br />

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Сохранить" />
                </div>
                <div class="col">
                    <a class="btn btn-danger w-75" asp-controller="PetTags" asp-action="All">Теги питомцев</a>
                </div>
            </div>
        </div>
    </div>
</form>

