@model MonamourWeb.ViewModels.PetViewModel
@{
    ViewData["Title"] = "Добавить питомца";
}
<form method="post" asp-controller="Pets" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h4 class="text-black-50 pl-3">Добавить питомца</h4>
        </div>

        <table class="table table-borderless text-center" style="width: 100%">
            <tr>
                <td width="20%">
                    <label asp-for="@Model.Pet.Name"></label>
                </td>
                <td colspan="2">
                    <input asp-for="@Model.Pet.Name" class="form-control" />
                    <span asp-validation-for="@Model.Pet.Name" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    <label asp-for="@Model.Pet.Breed"></label>
                </td>
                <td colspan="2">
                    <input class="form-control mb-1" id="breedFilter" placeholder="Введите название породы . . ." />
                    <select asp-for="@Model.Pet.BreedId" class="form-control mt-1" id="breedSelector">
                        <option value="" disabled selected>Выберите породу</option>
                    </select>
                    <span asp-validation-for="@Model.Pet.BreedId" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="@Model.Pet.Bday"></label>
                </td>
                <td colspan="2">
                    <input asp-for="@Model.Pet.Bday" class="form-control" />
                    <span asp-validation-for="@Model.Pet.Bday" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="@Model.Pet.Info"></label>
                </td>
                <td colspan="2">
                    <textarea style="height: 50px" asp-for="@Model.Pet.Info" class="form-control"></textarea>
                </td>
            </tr>

            @* Clients *@

            <tr>
                <td width="20%">
                    <label asp-for="@Model.Pet.Clients"></label>
                </td>
                <td width="40%">
                    <div class="container">
                        <div class="row">
                            <select multiple id="clientsOfPetSelector" class="form-control">
                                @foreach (var item in Model.Pet.Clients)
                                {
                                    <option ondblclick="removeClientFromPetFunc('@item.Id')" value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </td>
                <td width="40%">
                    <div class="container">
                        <div class="row">
                            <div class="col-9 d-flex text-left">
                                <span class="fa fa-search fa-lg mt-auto mb-auto mr-1"></span>
                                <input type="text" id="clientSearchTextBox" class="form-control mb-1 ml-1" style="min-width: 100px" />
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createClientModal">Создать</button>
                            </div>
                        </div>
                        <div class="row">
                            <select multiple id="clientSelector" class="form-control">
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="divClientsIdList">
                        @foreach (var client in Model.Pet.Clients)
                        {
                            <input type="hidden" class="clientsHidden" name="clientsOfPet" value="@client.Id" />
                        }
                    </div>
                </td>
            </tr>

            @*TAGS*@

            <tr>
                <td width="20%">
                    <label asp-for="@Model.Pet.Tags"></label>
                </td>
                <td width="40%">
                    <select multiple id="tagsOfPetSelector" class="form-control">
                        @foreach (var item in Model.Pet.Tags)
                        {
                            <option ondblclick="removeTagFromPetFunc('@item.Id')" value="@item.Id">@item.Title</option>
                        }
                    </select>
                </td>
                <td width="40%">
                    <select multiple id="allTags" class="form-control">
                        @foreach (var item in Model.AllTags)
                        {
                            <option ondblclick="addTagToPetFunc('@item.Id', '@item.Title')" value="@item.Id">@item.Title</option>
                        }
                    </select>
                </td>
                <td>
                    <div id="divTagIdList">
                        @foreach (var tag in Model.Pet.Tags)
                        {
                            <input type="hidden" class="tagsHidden" name="tagsOfPet" value="@tag.Id" />
                        }
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Добавить" />
                </div>
                <div class="col">
                    <a class="btn btn-danger w-75" asp-controller="Pets" asp-action="All">Питомцы</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createClientModal" tabindex="-1" role="dialog" aria-labelledby="createClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPetModalLabel">Создать нового клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-borderless text-center" style="width: 100%">
                        <tr>
                            <td width="20%">
                                <label>Имя</label>
                            </td>
                            <td colspan="2">
                                <input class="form-control" id="ajaxClientName" />
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <label>Телефон</label>
                            </td>
                            <td colspan="2">
                                <input class="form-control" id="ajaxClientPhone" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="AddClientAjax()">Создать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#breedFilter").keyup(function () {
            SearchBreedAjax();
        });
    });

    function SearchBreedAjax() {
        var breed = $.trim($("#breedFilter").val());
        $.ajax({
            type: "post",
            url: "/Pets/SearchBreed",
            data: JSON.stringify(breed),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (breeds) {
                var select = document.getElementById('breedSelector');
                select.innerHTML = "";

                for (var i = 0; i < breeds.length; i++) {
                    select.innerHTML += '<option value="' + breeds[i].id + '">' + breeds[i].title + '</option>';
                }
            }
        });
    }

    $(function () {
        $("#clientSearchTextBox").keyup(function () {
            SearchClientAjax();
        });
    });

    function SearchClientAjax() {
        var client = $.trim($("#clientSearchTextBox").val());
        $.ajax({
            type: "post",
            url: "/Pets/SearchClient",
            data: JSON.stringify(client),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (clients) {
                var select = document.getElementById('clientSelector');
                select.innerHTML = "";
                var isAdmin = '@Context.User.IsInRole("Admin")';
                for (var i = 0; i < clients.length; i++) {
                    if (isAdmin.toLowerCase() === 'true')
                    {
                        select.innerHTML += '<option ondblclick="addClientToPetFunc(\'' + clients[i].id + '\', \'' + clients[i].name + " (" + clients[i].phone + ")" + '\')" value="' + clients[i].id + '">' + clients[i].name + " (" + clients[i].phone + ")" + '</option>';
                    }
                    else
                    {
                        select.innerHTML += '<option ondblclick="addClientToPetFunc(\'' + clients[i].id + '\', \'' + clients[i].name + " (" + clients[i].secretPhone + ")" + '\')" value="' + clients[i].id + '">' + clients[i].name + " (" + clients[i].secretPhone + ")" + '</option>';
                    }
                }
            }
        });
    }

    function addClientToPetFunc(id, title) {
        var select = document.getElementById('clientsOfPetSelector');

        for (var i = 0; i < select.length; i++) {
            if (select[i].value === id) {
                return;
            }
        }

        select.innerHTML += '<option ondblclick="removeClientFromPetFunc(\'' + id + '\')" value="' + id + '">' + title + '</option>';
        var div = document.getElementById('divClientsIdList');
        div.innerHTML += '<input type="hidden" class="clientsHidden" name="clientsOfPet" value="' + id + '" />';
    }

    function removeClientFromPetFunc(id) {

        var select = document.getElementById('clientsOfPetSelector');

        for (var i = 0; i < select.length; i++) {
            if (select[i].value === id) {
                select.remove(i);
                break;
            }
        }

        var clients = document.getElementsByClassName('clientsHidden');
        for (var i = 0; i < clients.length; i++) {
            if (clients[i].value === id) {
                clients[i].remove();
                break;
            }
        }
    }

    function addTagToPetFunc(id, title) {
        var select = document.getElementById('tagsOfPetSelector');

        for (var i = 0; i < select.length; i++) {
            if (select[i].value === id) {
                return;
            }
        }

        select.innerHTML += '<option ondblclick="removeTagFromPetFunc(\'' + id + '\')" value="' + id + '">' + title + '</option>';
        var div = document.getElementById('divTagIdList');
        div.innerHTML += '<input type="hidden" class="tagsHidden" name="tagsOfPet" value="' + id + '" />';
    }

    function removeTagFromPetFunc(id) {

        var select = document.getElementById('tagsOfPetSelector');

        for (var i = 0; i < select.length; i++) {
            if (select[i].value === id) {
                select.remove(i);
                break;
            }
        }

        var tags = document.getElementsByClassName('tagsHidden');
        for (var i = 0; i < tags.length; i++) {
            if (tags[i].value === id) {
                tags[i].remove();
                break;
            }
        }
    }

    function AddClientAjax() {
        var clientName = $.trim($("#ajaxClientName").val());
        if (clientName === "") {
            alert("Имя клиента должно быть заполнено");
            return;
        }

        var clientPhone = $.trim($("#ajaxClientPhone").val());
        if (clientPhone === "") {
            alert("Телефон клиента должен быть заполнен");
            return;
        }

        $.ajax({
            type: "post",
            url: "/Clients/CreateQuick",
            data: { name: clientName, phone: clientPhone },
            dataType: "json",
            success: function (result) {
                var clientSearchTextBox = document.getElementById('clientSearchTextBox');
                clientSearchTextBox.value = clientName;
                SearchClientAjax();
                $('#createClientModal').modal('hide');
            }
        });
    }


</script>
