@model MonamourWeb.Models.Procedure
@{
    ViewData["Title"] = "Удалить процедуру";
}

<form method="post" asp-controller="Procedures" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h4 class="text-black-50 pl-3">Удалить процедуру</h4>
        </div>

        <br />

        <table class="table mx-auto table-borderless text-md-center" style="width: 50%">
            <tr>
                <td class="w-25">
                    <label asp-for="Title" class="font-weight-bold"></label>
                </td>
                <td>
                    <text>@Model.Title</text>
                </td>
            </tr>
            <tr>
                <td class="w-25">
                    <label asp-for="Animal" class="font-weight-bold"></label>
                </td>
                <td>
                    <text class="">@Model.Animal.Title</text>
                </td>
            </tr>
            <tr>
                <td class="w-25">
                    <label asp-for="Cost" class="font-weight-bold"></label>
                </td>
                <td>
                    <text>@Model.Cost</text>
                </td>
            </tr>
            <tr>
                <td class="w-25">
                    <label asp-for="ApproximateTime" class="font-weight-bold"></label>
                </td>
                <td>
                    <text>@Model.ApproximateTime</text>
                </td>
            </tr>
            <tr>
                <td class="w-25">
                    <label asp-for="Info" class="font-weight-bold"></label>
                </td>
                <td>
                    <text>@Model.Info</text>
                </td>
            </tr>
        </table>

        <br />

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-danger w-75" value="Удалить" />
                </div>
                <div class="col">
                    <a class="btn btn-info w-75" asp-controller="Procedures" asp-action="All">Процедуры</a>
                </div>
            </div>
        </div>
    </div>
</form>